(function () {
var data = {
  "xScale": "ordinal",
  "yScale": "linear",
  "main": [
    {
      "className": ".scaleup",
      "data": [
  {% for item in bar_data %}
        { {{ item }} },    
  {% endfor %}
      ]
    }
  ]
};
var myChart = new xChart('bar', data, '#example1');
}());
